google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-secret-manager
google-cloud-logging
flask 
flask-cors
flasgger
google-cloud-storage 
psycopg2>=2.9.0
 